@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: "Lato", system-ui;
}

/* generel style */
.text-primary {
  color: rgba(39, 39, 39, 0.6);
}
.button-primary{
  background-color: rgba(229, 84, 115, 1);
  padding: 15px 30px;
  border-radius: 6px ;
  border: none;
  color: #fff;
  
}
/* header related style */

header {
  background-color: rgba(229, 84, 115, 0.1);
}

.container {
  max-width: 1440px;
  width: 75%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.banner-text {
  max-width: 530px;
}

.banner-text h1 {
  max-width: 530px;
  font-size: 60px;
}
.banner-text *{
  margin-bottom: 20px;
}
.banner-img img{
  width: 100%;
  vertical-align: bottom;
}
