@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: "Lato", system-ui;
}

/* generel style */
.text-primary {
  color: rgba(39, 39, 39, 0.6);
  line-height: 30px
}

.button-primary {
  background-color: rgba(229, 84, 115, 1);
  padding: 15px 30px;
  border-radius: 6px;
  border: none;
  color: #fff;
  cursor: pointer;

}

.button-primary:hover {
  background-color: rgb(175, 21, 55);
}

.section-title {
  font-size: 30px;
  font-weight: 800;
  color: rgba(39, 39, 39, 1);
  margin-bottom: 15px;

}

.section-heading {
  max-width: 500px;
  text-align: center;
  margin: 20px auto 30px;

}

/* header related style */

header {
  background-color: rgba(229, 84, 115, 0.1);
}

.container {
  max-width: 1440px;
  width: 75%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.banner-text {
  max-width: 530px;
}

.banner-text h1 {
  max-width: 530px;
  font-size: 60px;
}

.banner-text * {
  margin-bottom: 20px;
}

.banner-img img {
  width: 100%;
  vertical-align: bottom;
}

/* section related style */

.section-container {
  max-width: 1440px;
  width: 75%;
  margin: 0 auto;
  padding: 135px 0;
}

.section-content {
  display: flex;
  align-items: end;
  justify-content: space-between;
}

.flower {
  background-color: rgba(167, 33, 98, 0.15);
  gap: 20px;
  border-radius: 225px 225px 0 0;
  height: 500px;
  padding: 30px 15px 0px;
  display: flex;
  align-items: end;

}

.flower img {
  width: 100%;


}

#pink {
  background: rgba(167, 33, 98, 0.15);

}

#blue {
  background: rgba(5, 151, 160, 0.15);

}

#green {
  background: rgba(71, 125, 17, 0.15);

}

.section-img p {
  color: #272727;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  text-decoration: underline;
  margin-top: 20px;

}

/* support related style */

.support-container {
  max-width: 1440px;
  width: 75%;
  margin: 96px auto;
  padding: 65px 0;
  border-radius: 8px;
  background: rgba(39, 39, 39, 0.05);

}

.support-sub-container {
  display: flex;
  justify-content: space-between;
  padding: 0 230px;
}

.support-content {
  text-align: center;
}

.support-content p {
  color: rgba(39, 39, 39, 0.80);
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  line-height: 35px;
  margin-top: 18px;
}

/* hot deal related style */
#hot-deal {
  background: rgba(229, 84, 115, 0.05);
}

.hot-deal-container {
  max-width: 1440px;
  width: 75%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 75px 0;


}

.hot-deal-text * {

  margin-bottom: 18px;
}

.hot-deal-text {

  max-width: 500px;
  text-align: center;



}

#hot-deal {
  margin-bottom: 100px;

}

#off {
  color: #E55473;
}